body {
  background-color: #f5f5f5;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  position: absolute;
  top: 30px;
  margin: 0px;
  font-size: 28px;
}
.color-box-row {
  display: flex;
  margin-bottom: 20px;
}
.color-box-row:last-child {
  margin: 0px;
}
.color-box {
  border: 5px solid white;
  width: 160px;
  height: 300px;
  margin-right: 15px;
}
.color-box:last-child {
  margin: 0px;
}
.tomato {
  background-color: tomato;
}
.teal {
  background-color: teal;
}
.burlywood {
  background-color: burlywood;
}
.thistle {
  background-color: thistle;
}
.color-instruction {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px 5px;
  margin-top: 10px;
}
.color-name {
  margin: 0px;
  margin-bottom: 20px;
}
.color-number {
  margin: 0px;
  font-size: 12px;
}
