body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.wrap {
  background-color: #6bbcbe;
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes rotateDots {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}
.dots {
  width: 13%;
  height: 8px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  animation: rotateDots 1s ease-in-out infinite;
}
.bars {
  width: 13%;
  height: 9%;
  display: flex;
  justify-content: space-between;
}
.dot {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}
@keyframes waveBars {
  0% {
    transform: scaleY(1);
  }
  30% {
    transform: scaleY(2);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
.bar {
  width: 13%;
  height: 100%;
  background-color: white;
  animation: waveBars 1s ease-in infinite;
}
.bar:nth-child(2) {
  animation-delay: 0.1s;
}
.bar:nth-child(3) {
  animation-delay: 0.2s;
}
.bar:nth-child(4) {
  animation-delay: 0.3s;
}
.bar:last-child {
  animation-delay: 0.4s;
}
