.library-header {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 13%;
  padding: 24px 12px 44px 12px;
  background-color: #FFCE33;
  margin-bottom: 30px;
}
.library-header h2 {
  font-size: 18px;
}
.library-header input {
  position: absolute;
  right: 8px;
  bottom: -35px;
  width: 95%;
  padding: 16px;
  border: none;
  border-radius: 20px;
  border-bottom: 10px outset rgba(0, 0, 0, 0.03);
}
.library-header input::placeholder {
  opacity: 0.3;
  font-weight: 700;
}
.library-header .fa-search {
  position: absolute;
  right: 20px;
  bottom: -8px;
  opacity: 0.3;
}