* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.slider-container {
  margin: 100px 0px;
  height: 400px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-main {
  width: 50vw;
  height: 100%;
  display: flex;
  border: 3px solid black;
}
.slide-shifter {
  width: 2.5vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-screen {
  width: 45vw;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-left: 3px solid black;
  border-right: 3px solid black;
}
.slider {
  width: 225vw;
  height: 100%;
  display: flex;
  position: absolute;
}
.slider__slide {
  width: 45vw;
  height: 100%;
  background-color: burlywood;
}
.slide-picker {
  width: 50vw;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}
.slide-picker__number {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
